<div class="col-md-4 col-md-offset-4 login-wrapper">
    <div class="login-section text-left">
        <h3 class="text-center login">LOGIN</h3>
        <div class="">
            <form name="form" role="form">
                <div class="form-group">
                    <label class="float-left">Username</label>
                    <input   name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="float-left">Password</label>
                    <input  id="password" name="password" type="password" class="form-control">
                </div>
                <div class="form-actions text-center login-btn">
                    <button class="btn btn-lg btn-primary  btn-signin" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>