<header>
  <div class="col-xs-12">
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">PRAKASHNAGAR BRANCH ADMIN <span class="fa fa-angle-down"></span>
    </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <span>Profile</span><i class="fa fa-user"></i>
          </li>
          <li>
            <span>Reset Password</span><i class="fa fa-sign-out" aria-hidden="true"></i>
          </li>
          <li>
            <span>Logout</span><i class="fa fa-sign-out" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="pull-right ml-2">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">OXFORD SCHOOL - PRAKASHNAGAR BRANCH <span class="fa fa-angle-down"></span>
    </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <span>Settings</span><i class="fa fa-cog"></i>
          </li>
          <li>
            <span>Switch to another branch</span><i class="fa fa-random"></i>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-xs-12 text-center contact-dtl">
    <ul>
    <li>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="text-primary">info@predifast.com</span> 
    </li>
    <li>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span class="text-primary  ">
              040-48527326, 9705070900
          </span>
      </li>
    </ul>
  </div>
</header>